*{
margin: 0 auto;
width:  80%;
background-color: lightblue;
}

.outer {
   border: solid 3px grey;
   box-shadow: 2px 2px 2px black;
   width: 400px;
   height: 400px;
   border-radius: 10px;
}

#centered{
    background-color: #1f4e99;
    color:white;
    border-radius: 10px;
    text-align:center;
    padding: 20px;
    margin-top: 20px;
    width: 40%;
    font-size: 26px;
    text-shadow: 2px lightgrey;
}

h1 {
	text-align: center;
	text-shadow: 2px 2px 2px darkgrey;
	font-size: 35px;
	margin-top: 25px;
}

div img {
	width: 400px;
	height: 400px;
}

button {
  font-size: 37px;
  width: 100%;
  background-color: #1f4e99;
  color: white;
  text-align: center;
  border-radius: 10px;
  margin: 0 auto;
  padding: 5px 0; }